.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fcfcfc;
}

.header{
    width: 100%;
    margin-bottom: 2.5%;
    background-color: linear-gradient(90deg, rgba(236,236,236,1) 0%, rgba(255,255,255,1) 100%);;
    box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
}

.body{
    width: 90%;
}
